* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center
}

.container h1 {
    text-align: start;
    padding-top: 100px;
}

.container h2 {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container form input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'roboto', sans-serif;
    width: 500px;
}

.container form button {
    padding: 10px;
    border: 1px solid rgb(68, 132, 228);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(68, 132, 228);
    color: white;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-style: italic;
    width: 500px;
}

.container form button:hover {
    background-color: #71a5f3;
    border: 1px solid #71a5f3;
    font-size: 20px;
    font-style: italic;
    
}